<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882" xmlns="http://www.w3.org/TR/REC-html40"><head><meta http-equiv=Content-Type  content="text/html; charset=utf-8" ><meta name=ProgId  content=Word.Document ><meta name=Generator  content="Microsoft Word 14" ><meta name=Originator  content="Microsoft Word 14" ><title></title><!--[if gte mso 9]><xml><o:DocumentProperties><o:Author>anton</o:Author><o:LastAuthor>anton</o:LastAuthor><o:Revision>1</o:Revision><o:Pages>1</o:Pages><o:Lines>1</o:Lines><o:Paragraphs>1</o:Paragraphs></o:DocumentProperties><o:CustomDocumentProperties><o:KSOProductBuildVer dt:dt="string" >1049-10.1.0.6757</o:KSOProductBuildVer></o:CustomDocumentProperties></xml><![endif]--><!--[if gte mso 9]><xml><o:OfficeDocumentSettings></o:OfficeDocumentSettings></xml><![endif]--><!--[if gte mso 9]><xml><w:WordDocument><w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel><w:DisplayHorizontalDrawingGridEvery>0</w:DisplayHorizontalDrawingGridEvery><w:DisplayVerticalDrawingGridEvery>2</w:DisplayVerticalDrawingGridEvery><w:DocumentKind>DocumentNotSpecified</w:DocumentKind><w:DrawingGridVerticalSpacing>7.8 磅</w:DrawingGridVerticalSpacing><w:View>Web</w:View><w:Compatibility><w:DontGrowAutofit/><w:BalanceSingleByteDoubleByteWidth/><w:DoNotExpandShiftReturn/></w:Compatibility><w:Zoom>0</w:Zoom></w:WordDocument></xml><![endif]--><!--[if gte mso 9]><xml><w:LatentStyles DefLockedState="false"  DefUnhideWhenUsed="true"  DefSemiHidden="true"  DefQFormat="false"  DefPriority="99"  LatentStyleCount="260" >
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Normal" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  QFormat="true"  Name="heading 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  QFormat="true"  Name="heading 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  QFormat="true"  Name="heading 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  QFormat="true"  Name="heading 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  QFormat="true"  Name="heading 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  QFormat="true"  Name="heading 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  QFormat="true"  Name="heading 7" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  QFormat="true"  Name="heading 8" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  QFormat="true"  Name="heading 9" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="index 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="index 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="index 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="index 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="index 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="index 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="index 7" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="index 8" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="index 9" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="toc 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="toc 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="toc 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="toc 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="toc 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="toc 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="toc 7" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="toc 8" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="toc 9" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Normal Indent" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="footnote text" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="annotation text" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="header" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="footer" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="index heading" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  QFormat="true"  Name="caption" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="table of figures" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="envelope address" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="envelope return" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="footnote reference" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="annotation reference" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="line number" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="page number" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="endnote reference" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="endnote text" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="table of authorities" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="macro" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="toa heading" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List Bullet" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List Number" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List Bullet 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List Bullet 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List Bullet 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List Bullet 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List Number 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List Number 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List Number 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List Number 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  QFormat="true"  Name="Title" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Closing" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Signature" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Default Paragraph Font" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Body Text" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Body Text Indent" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List Continue" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List Continue 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List Continue 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List Continue 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="List Continue 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Message Header" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  QFormat="true"  Name="Subtitle" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Salutation" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Date" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Body Text First Indent" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Body Text First Indent 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Note Heading" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Body Text 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Body Text 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Body Text Indent 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Body Text Indent 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Block Text" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Hyperlink" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="FollowedHyperlink" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  QFormat="true"  Name="Strong" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  QFormat="true"  Name="Emphasis" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Document Map" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Plain Text" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="E-mail Signature" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Normal (Web)" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="HTML Acronym" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="HTML Address" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="HTML Cite" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="HTML Code" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="HTML Definition" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="HTML Keyboard" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="HTML Preformatted" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="HTML Sample" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="HTML Typewriter" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="HTML Variable" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Normal Table" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="annotation subject" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="No List" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="1 / a / i" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="1 / 1.1 / 1.1.1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Article / Section" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Simple 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Simple 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Simple 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Classic 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Classic 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Classic 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Classic 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Colorful 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Colorful 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Colorful 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Columns 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Columns 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Columns 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Columns 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Columns 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Grid 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Grid 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Grid 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Grid 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Grid 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Grid 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Grid 7" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Grid 8" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table List 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table List 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table List 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table List 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table List 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table List 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table List 7" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table List 8" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table 3D effects 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table 3D effects 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table 3D effects 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Contemporary" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Elegant" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Professional" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Subtle 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Subtle 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Web 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Web 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Web 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="0"  SemiHidden="false"  UnhideWhenUsed="false"  Name="Balloon Text" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Grid" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Table Theme" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Placeholder Text" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="No Spacing" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light Shading" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light List" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light Grid" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Shading 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Shading 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium List 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium List 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Dark List" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful Shading" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful List" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful Grid" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light Shading Accent 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light List Accent 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light Grid Accent 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Shading 1 Accent 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Shading 2 Accent 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium List 1 Accent 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="List Paragraph" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Quote" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Intense Quote" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium List 2 Accent 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 1 Accent 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 2 Accent 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 3 Accent 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Dark List Accent 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful Shading Accent 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful List Accent 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful Grid Accent 1" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light Shading Accent 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light List Accent 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light Grid Accent 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Shading 1 Accent 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Shading 2 Accent 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium List 1 Accent 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium List 2 Accent 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 1 Accent 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 2 Accent 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 3 Accent 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Dark List Accent 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful Shading Accent 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful List Accent 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful Grid Accent 2" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light Shading Accent 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light List Accent 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light Grid Accent 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Shading 1 Accent 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Shading 2 Accent 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium List 1 Accent 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium List 2 Accent 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 1 Accent 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 2 Accent 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 3 Accent 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Dark List Accent 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful Shading Accent 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful List Accent 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful Grid Accent 3" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light Shading Accent 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light List Accent 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light Grid Accent 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Shading 1 Accent 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Shading 2 Accent 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium List 1 Accent 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium List 2 Accent 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 1 Accent 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 2 Accent 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 3 Accent 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Dark List Accent 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful Shading Accent 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful List Accent 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful Grid Accent 4" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light Shading Accent 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light List Accent 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light Grid Accent 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Shading 1 Accent 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Shading 2 Accent 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium List 1 Accent 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium List 2 Accent 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 1 Accent 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 2 Accent 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 3 Accent 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Dark List Accent 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful Shading Accent 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful List Accent 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful Grid Accent 5" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light Shading Accent 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light List Accent 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Light Grid Accent 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Shading 1 Accent 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Shading 2 Accent 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium List 1 Accent 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium List 2 Accent 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 1 Accent 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 2 Accent 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Medium Grid 3 Accent 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Dark List Accent 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful Shading Accent 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful List Accent 6" ></w:LsdException>
<w:LsdException Locked="false"  Priority="99"  SemiHidden="false"  Name="Colorful Grid Accent 6" ></w:LsdException>
</w:LatentStyles></xml><![endif]--><style>
@font-face{
font-family:"Times New Roman";
}

@font-face{
font-family:"宋体";
}

@font-face{
font-family:"SimSun";
}

@font-face{
font-family:"Wingdings";
}

@font-face{
font-family:"SimSun";
}

@font-face{
font-family:"Calibri";
}

p.MsoNormal{
mso-style-name:Обычный;
mso-style-noshow:yes;
mso-style-parent:"";
margin-top:0,0000pt;
margin-right:0,0000pt;
margin-bottom:0,0000pt;
margin-left:0,0000pt;
text-align:left;
font-family:Calibri;
mso-fareast-font-family:SimSun;
mso-bidi-font-family:'Times New Roman';
font-size:12,0000pt;
}

span.10{
font-family:'Times New Roman';
}

span.15{
font-family:'Times New Roman';
}

p.16{
mso-style-name:"p Char";
margin-top:5,0000pt;
margin-right:0,0000pt;
margin-bottom:5,0000pt;
margin-left:0,0000pt;
mso-margin-top-alt:auto;
mso-margin-bottom-alt:auto;
text-align:left;
font-family:'Times New Roman';
font-size:12,0000pt;
}

p.17{
mso-style-name:"h3 Char";
margin-top:5,0000pt;
margin-bottom:5,0000pt;
mso-margin-top-alt:auto;
mso-margin-bottom-alt:auto;
text-align:left;
font-family:SimSun;
font-weight:bold;
font-size:13,0000pt;
}

p.18{
mso-style-name:"h5 Char";
margin-top:5,0000pt;
margin-bottom:5,0000pt;
mso-margin-top-alt:auto;
mso-margin-bottom-alt:auto;
text-align:left;
font-family:SimSun;
font-weight:bold;
font-style:italic;
font-size:10,0000pt;
}

p.19{
mso-style-name:"h2 Char";
margin-top:5,0000pt;
margin-bottom:5,0000pt;
mso-margin-top-alt:auto;
mso-margin-bottom-alt:auto;
text-align:left;
font-family:SimSun;
font-weight:bold;
font-style:italic;
font-size:18,0000pt;
}

p.pre{
mso-style-name:"Стандартный HTML";
margin:0pt;
margin-bottom:.0001pt;
text-align:left;
font-family:SimSun;
font-size:12,0000pt;
}

p.21{
mso-style-name:"h6 Char";
margin-top:5,0000pt;
margin-bottom:5,0000pt;
mso-margin-top-alt:auto;
mso-margin-bottom-alt:auto;
text-align:left;
font-family:SimSun;
font-weight:bold;
font-size:7,0000pt;
}

p.22{
mso-style-name:"h4 Char";
margin-top:5,0000pt;
margin-bottom:5,0000pt;
mso-margin-top-alt:auto;
mso-margin-bottom-alt:auto;
text-align:left;
font-family:SimSun;
font-weight:bold;
font-size:12,0000pt;
}

p.23{
mso-style-name:"h1 Char";
margin-top:5,0000pt;
margin-bottom:5,0000pt;
mso-margin-top-alt:auto;
mso-margin-bottom-alt:auto;
text-align:left;
font-family:SimSun;
font-weight:bold;
font-size:24,0000pt;
mso-font-kerning:16,0000pt;
}

span.msoIns{
mso-style-type:export-only;
mso-style-name:"";
text-decoration:underline;
text-underline:single;
color:blue;
}

span.msoDel{
mso-style-type:export-only;
mso-style-name:"";
text-decoration:line-through;
color:red;
}

table.MsoNormalTable{
mso-style-name:"Обычная таблица";
mso-style-parent:"";
mso-style-noshow:yes;
mso-tstyle-rowband-size:0;
mso-tstyle-colband-size:0;
mso-padding-alt:0,0000pt 5,4000pt 0,0000pt 5,4000pt;
mso-para-margin:0pt;
mso-para-margin-bottom:.0001pt;
mso-pagination:widow-orphan;
font-family:'Times New Roman';
font-size:10,0000pt;
mso-ansi-language:#0400;
mso-fareast-language:#0400;
mso-bidi-language:#0400;
}

table.24{
mso-style-name:"Обычная таблица Char";
mso-style-noshow:yes;
mso-tstyle-rowband-size:0;
mso-tstyle-colband-size:0;
mso-padding-alt:0,0000pt 5,4000pt 0,0000pt 5,4000pt;
mso-para-margin:0pt;
mso-para-margin-bottom:.0001pt;
mso-pagination:widow-orphan;
font-family:'Times New Roman';
font-size:10,0000pt;
mso-ansi-language:#0400;
mso-fareast-language:#0400;
mso-bidi-language:#0400;
}

table.25{
mso-style-name:"Сетка таблицы Char";
mso-tstyle-rowband-size:0;
mso-tstyle-colband-size:0;
mso-padding-alt:0,0000pt 5,4000pt 0,0000pt 5,4000pt;
mso-para-margin:0pt;
mso-para-margin-bottom:.0001pt;
mso-pagination:none;
text-align:justify;
text-justify:inter-ideograph;
font-family:'Times New Roman';
font-size:10,0000pt;
mso-ansi-language:#0400;
mso-fareast-language:#0400;
mso-bidi-language:#0400;
}
@page{mso-page-border-surround-header:no;
	mso-page-border-surround-footer:no;}@page Section0{
size:595,3500pt 841,9500pt;
}
div.Section0{page:Section0;}</style></head><body style="tab-interval:21pt;text-justify-trim:punctuation;" ><!--StartFragment--><div class="Section0" ><table class=25  border=1  cellspacing=0  style="border-collapse:collapse;margin-left:4,6500pt;mso-table-layout-alt:fixed;border:none;mso-border-left-alt:none;mso-border-top-alt:none;mso-border-right-alt:none;mso-border-bottom-alt:none;mso-border-insideh:0,7500pt outset windowtext;mso-border-insidev:0,7500pt outset windowtext;mso-padding-alt:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;" ><tr><td width=207  valign=top  style="width:155,2500pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:1,0000pt outset windowtext;mso-border-left-alt:0,7500pt outset windowtext;border-right:none;mso-border-right-alt:none;border-top:1,0000pt outset windowtext;mso-border-top-alt:0,7500pt outset windowtext;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >CERN</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p></td><td width=490  valign=top  colspan=2  style="width:367,5000pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:none;mso-border-left-alt:none;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:1,0000pt outset windowtext;mso-border-top-alt:0,7500pt outset windowtext;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >Temperature report on </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%= date%></span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p></td></tr><tr><td width=207  valign=top  rowspan=2  style="width:155,2500pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:1,0000pt outset windowtext;mso-border-left-alt:0,7500pt outset windowtext;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:none;mso-border-top-alt:none;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  style="margin-top:5,0000pt;mso-margin-top-alt:auto;mso-pagination:widow-orphan;text-align:left;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >1. Temperetature from 9:00 am to 12:00 am</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  style="margin-top:5,0000pt;mso-margin-top-alt:auto;mso-pagination:widow-orphan;text-align:left;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" >There is shown a temperetature of reactor from 9:00 am to 12:00 am on </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%= date%></span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p>&nbsp;</o:p></span></p></td><td width=246  valign=top  style="width:184,5000pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:none;mso-border-left-alt:none;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:none;mso-border-top-alt:none;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >9:00 am</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-hansi-font-family:SimSun;mso-bidi-font-family:SimSun;color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%= temp[0]%></span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p></td><td width=244  valign=top  style="width:183,0000pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:none;mso-border-left-alt:none;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:1,0000pt outset windowtext;mso-border-top-alt:0,7500pt outset windowtext;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >10:00 am</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-hansi-font-family:SimSun;mso-bidi-font-family:SimSun;color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%= temp[1]%></span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p></td></tr><tr><td width=246  valign=top  style="width:184,5000pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:none;mso-border-left-alt:none;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:none;mso-border-top-alt:none;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >11:00 am</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  style="mso-pagination:widow-orphan;text-align:left;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-hansi-font-family:SimSun;mso-bidi-font-family:SimSun;color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%= temp[2]%></span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p></td><td width=244  valign=top  style="width:183,0000pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:none;mso-border-left-alt:none;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:none;mso-border-top-alt:none;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >12:00 am</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-hansi-font-family:SimSun;mso-bidi-font-family:SimSun;color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%= temp[3]%></span>
	<span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p></td></tr><tr><td width=207  valign=top  style="width:155,2500pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:1,0000pt outset windowtext;mso-border-left-alt:0,7500pt outset windowtext;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:none;mso-border-top-alt:none;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  style="margin-top:5,0000pt;mso-margin-top-alt:auto;mso-pagination:widow-orphan;text-align:left;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >2. Workers</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  style="margin-top:5,0000pt;mso-margin-top-alt:auto;mso-pagination:widow-orphan;text-align:left;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" >There is shown workers that works from 9:00 am to 12:00 am on </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%= date%></span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p>&nbsp;</o:p></span></p></td><td width=246  valign=top  style="width:184,5000pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:none;mso-border-left-alt:none;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:none;mso-border-top-alt:none;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >Worker 1: </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%= worker1%></span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >Occupation: </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%= occupation1%></span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p></td><td width=244  valign=top  style="width:183,0000pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:none;mso-border-left-alt:none;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:none;mso-border-top-alt:none;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >Worker 2: </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%= worker2%></span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >Occupation: </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%= occupation2%></span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p></td></tr><tr><td width=207  valign=top  style="width:155,2500pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:1,0000pt outset windowtext;mso-border-left-alt:0,7500pt outset windowtext;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:none;mso-border-top-alt:none;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >3. Reports</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p>&nbsp;</o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" >There is shown some reports if they were</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p>&nbsp;</o:p></span></p></td><td width=490  valign=top  colspan=2  style="width:367,5000pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:none;mso-border-left-alt:none;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:none;mso-border-top-alt:none;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >Bug report:</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%= bugReport%></span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p></td></tr><tr><td width=697  valign=top  colspan=3  style="width:522,7500pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:1,0000pt outset windowtext;mso-border-left-alt:0,7500pt outset windowtext;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:none;mso-border-top-alt:none;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  align=justify  style="margin-right:0,0000pt;mso-para-margin-right:0,0000gd;mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >4. </span>
		<span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >Chief of change: </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%= chiefName%></span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="margin-right:0,0000pt;mso-para-margin-right:0,0000gd;mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >Occupation: </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%= chiefOccupation%></span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p>&nbsp;</o:p></span></p><p class=MsoNormal  style="mso-pagination:widow-orphan;text-align:left;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-hansi-font-family:SimSun;mso-bidi-font-family:SimSun;font-size:12,0000pt;mso-font-kerning:0,0000pt;" >Signature:________</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p></td></tr><tr><td width=207  valign=top  style="width:155,2500pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:1,0000pt outset windowtext;mso-border-left-alt:0,7500pt outset windowtext;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:none;mso-border-top-alt:none;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >5. Chief's comments </span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p>&nbsp;</o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" >There is shown Chief's comments if they were.</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p>&nbsp;</o:p></span></p></td><td width=490  valign=top  colspan=2  style="width:367,5000pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:none;mso-border-left-alt:none;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:1,0000pt outset windowtext;mso-border-top-alt:0,7500pt outset windowtext;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >Chief comments:</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" >All was ok</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >.</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p>&nbsp;</o:p></span></p></td></tr><tr><td width=207  valign=top  style="width:155,2500pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:1,0000pt outset windowtext;mso-border-left-alt:0,7500pt outset windowtext;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:none;mso-border-top-alt:none;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >6. Visitors</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p>&nbsp;</o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" >There is shown visitors if they were</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p>&nbsp;</o:p></span></p></td><td width=490  valign=top  colspan=2  style="width:367,5000pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:none;mso-border-left-alt:none;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:none;mso-border-top-alt:none;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" ><p class=MsoNormal  style="mso-pagination:widow-orphan;text-align:left;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >Visitor:&#160;</span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-hansi-font-family:SimSun;mso-bidi-font-family:SimSun;color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%= visitor %></span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p>&nbsp;</o:p></span></p></td></tr><tr><td width=697  valign=top  colspan=3  style="width:522,7500pt;padding:0,7500pt 0,7500pt 0,7500pt 0,7500pt ;border-left:1,0000pt outset windowtext;mso-border-left-alt:0,7500pt outset windowtext;border-right:1,0000pt outset windowtext;mso-border-right-alt:0,7500pt outset windowtext;border-top:none;mso-border-top-alt:none;border-bottom:1,0000pt outset windowtext;mso-border-bottom-alt:0,7500pt outset windowtext;" >
			<p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >7. All people's signatures that was mentoined in this documentIt's important! All people that was mentoined must sign.</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p>&nbsp;</o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ></span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%=worker1%></span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ></span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >_______,</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" >&#160;</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%=worker2%></span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >_______,</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" >&#160;</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%=visitor%></span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >_______, </span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';color:rgb(212,160,0);font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><%= chiefName%></span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >_______</span><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p><p class=MsoNormal  align=justify  style="mso-pagination:widow-orphan;text-align:justify;text-justify:inter-ideograph;" ><span style="font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p>&nbsp;</o:p></span></p></td></tr></table><p class=MsoNormal  style="mso-pagination:widow-orphan;" ><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" >&nbsp;</span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:SimSun;mso-bidi-font-family:'Times New Roman';font-size:12,0000pt;mso-font-kerning:0,0000pt;" ><o:p></o:p></span></p></div><!--EndFragment--></body></html>